[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
black = "*"
pymongo = {extras = ["gssapi", "snappy", "srv", "tls"], version = "*"}
dnspython = "*"
djongo = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.10"
